.AudioPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 425px;
    border-radius: 10px;
    background-color: var(--light-mustard-transparent-color);
}
.AudioPlayer-img {
    width: 250px;
    height: 243px;
}
.AudioPlayer-songInfo {
    width: 250px;
    padding: 0.5rem 0;
}
.AudioPlayer-songName {
    font-size: 30px;
}
.AudioPlayer-artistName {
    font-family: var(--regular-font);
    font-size: 14px;
    color: var(--soft-black-color);
}
.AudioPlayer-handleAudioPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AudioPlayer-timeSpan {
    font-family: var(--regular-font);
    font-size: 1rem;
    color: var(--soft-black-color);
}
.AudioPlayer-btnMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 0.5rem;
    gap: 0.2rem;
}
.Button--audioPlayerPlayingBtn {
    transition: 300ms ease-out;
    padding: 0.6rem 0.6rem 0.4rem 0.6rem;
    cursor: pointer;
}
.Button--audioPlayerPlayingBtn:hover {
    background-color: #ffffff2a;
    border-radius: 2rem;
}
.Button--audioPlayerPreviousBtn {
    transition: 300ms ease-out;
    padding: 0.6rem 0.6rem 0.4rem 0.4rem;
    cursor: pointer;
}
.Button--audioPlayerPreviousBtn:hover {
    background-color: #ffffff2a;
    border-radius: 2rem;
}
.Button--audioPlayerNextBtn {
    transition: 300ms ease-out;
    padding: 0.6rem 0.4rem 0.4rem 0.6rem;
    cursor: pointer;
}
.Button--audioPlayerNextBtn:hover {
    background-color: #ffffff2a;
    border-radius: 2rem;
}

.Load{
    display: flex;
    flex-direction: column;
}
.Load-img {
    width: 250px;
    height: 243px;
    background: linear-gradient(45deg, #999999d5, #eeeeeed5);
    background-size: 200% 200%;
    border-radius: 10px;
    animation: cambiar 3s ease infinite;
}
.Load-songName {
    width: 10rem;
    height: 1.5rem;
    background: linear-gradient(45deg, #999999d5, #eeeeeed5);
    background-size: 400% 400%;
    margin: 0.8rem 0;
    border-radius: 10px;
    animation: cambiar 3s ease infinite;
}
.Load-artistName {
    width: 3rem;
    height: 1rem;
    background: linear-gradient(45deg, #999999d5, #eeeeeed5);
    background-size: 400% 400%;
    margin: 0.5rem 0 1rem 0;
    border-radius: 10px;
    animation: cambiar 3s ease infinite;
}
.Load-time {
    display: flex;
    justify-content: center;
}
.Load-timeSpan {
    width: 6rem;
    height: 1rem;
    background: linear-gradient(45deg, #999999d5, #eeeeeed5);
    background-size: 400% 400%;
    border-radius: 10px;
    animation: cambiar 3s ease infinite;
}
@keyframes cambiar {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}