.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-black-color);
}

.UnorderedList--footerSocialMedia {
    display: flex;
    gap: 1rem;
}
.UnorderedList-item--footerSocialMedia{
    margin: 1rem 0;
}

.UnorderedList-item--footerSocialMedia>.LinkTo--contact span {
    display: none;
}