.EventCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 328px;
    margin: 1rem;
    padding: 10px 0;
    border-top: 2px solid var(--soft-black-color);
    border-bottom: 2px solid var(--soft-black-color);
}
.EventCard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.EventCard-list {
    list-style: none;
}
.EventCard-list--clicks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.EventCard-googleMapsLocation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.EventCard-iframe {
    width: 100dvw;
    height: 0;
    margin-top: 0;
    border: none;
    visibility: hidden;
    transition: all 500ms ease;
}
.EventCard-iframe.is-open {
    height: 150px;
    margin-top: 10px;
    visibility: visible;
}

.EventCard-date {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.EventCard-item--info {
    font-family: var(--regular-font);
    font-size: 12px;
}
.Button--eventCardLocationBtn {
    cursor: pointer;
}
.LinkTo--eventCardTicketLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    font-family: var(--bold-font);
    font-size: 12px;
    color: var(--light-mustard-color);
    background-color: var(--soft-black-color);
    margin: 0 1rem;
    border-radius: 10px;
}
.LinkTo--eventCardTicketLink:hover {
    color: var(--white-color);
    background-color: var(--red-spicy-color);
}