.EventCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 328px;
}
.EventCard-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    padding: 10px 0;
    border-top: 2px solid var(--soft-black-color);
    border-bottom: 2px solid var(--soft-black-color);
}
.EventCard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.EventCard-list {
    list-style: none;
}
.EventCard-list--clicks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.EventCard-googleMapsLocation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.EventCard-iframe {
    width: 100dvw;
    height: 0;
    border: none;
    visibility: hidden;
    transition: all 500ms ease;
}
.EventCard-iframe.is-open {
    height: 150px;
    visibility: visible;
}

.EventCard-date {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.EventCard-item--info {
    font-family: var(--regular-font);
    font-size: 12px;
}
.Button--eventCardLocationBtn {
    cursor: pointer;
}
.LinkTo--eventCardTicketLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    font-family: var(--bold-font);
    font-size: 12px;
    color: var(--light-mustard-color);
    background-color: var(--soft-black-color);
    margin: 0 1rem;
    border-radius: 10px;
}
.LinkTo--eventCardTicketLink:hover {
    color: var(--white-color);
    background-color: var(--red-spicy-color);
}

@media (min-width: 500px) {
    .EventCard {
        width: 100%;
        max-width: 470px;
    }
    .EventCard-border {
        
        padding: 0 0 20px 0;
        border-top: none;
    }
    .EventCard-date {
        margin-bottom: 0.5rem;
    }
    .EventCard-list--info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .EventCard-adress{
        display: inline;
    }
    .EventCard-iframe.is-open {
        margin: 25px 0 25px 0;
        height: 205px;
    }
}
@media (min-width: 1000px) {
    .EventCard {
        width: 100%;
        max-width: 700px;
    }
    .EventCard-border {

        padding: 0 0 20px 0;
        border-top: none;
    }
    .EventCard-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .EventCard-date {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .EventCard-list--info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .EventCard-iframe.is-open {
        margin: 25px 0 25px 0;
        height: 205px;
    }
}